discord.py
loguru
pip
praw
pillow
giphypop
beautifulsoup4
psaw
GitPython
sqlalchemy
tmdbv3api
alembic
youtube_dl
CairoSVG
PyNaCl
pytz
opencv-python
numpy
discord-timers
pynacl
youtube-dl
pyjwt
statcord.py
APScheduler
pymysql
